<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JavaPractice test suite">
	<!-- Default suite -->
	<test name="Smoke tests" verbose="2">
		<parameter name="driver-type" value="CHROME" />
		<classes>
			<class name="MAVENModule.GSONPractice.EtsyJSONDeserialize" />
		</classes>
	</test>
	<!-- Default test -->
</suite>