<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RestAssuredTwitter test suite">
	<!-- Default suite -->
	<test name="JSON tests" verbose="2">
		<parameter name="driver-type" value="CHROME" />
		<classes>
			<class name="APIAutomation._GET.IORestAssuredBuild.GetTweets" />
		</classes>
	</test>
	<!-- Default test -->
</suite>